VUE_APP_FACTORY_CONTRACT_ADDRESS=0x00000000000000000000000000000000000face7
VUE_APP_PROVIDER_URL=https://mainnet.infura.io/v3/0b39bec5406a45ac9cb1f1bf0b287d14
VUE_APP_EXPLORER_SCAN_URL=https://etherscan.io/
VUE_APP_TARGET_CHAIN_INFO='{"name":"Ethereum Mainnet","chainId":1,"shortName":"eth","chain":"ETH","network":"mainnet","networkId":1,"nativeCurrency":{"name":"Ether","symbol":"ETH","decimals":18},"rpc":["https://mainnet.infura.io/v3/0b39bec5406a45ac9cb1f1bf0b287d14","wss://mainnet.infura.io/ws/v3/0b39bec5406a45ac9cb1f1bf0b287d14","https://api.mycryptoapi.com/eth","https://cloudflare-eth.com"],"faucets":[],"infoURL":"https://ethereum.org","explore":["https://etherscan.io/"]}'